{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{film}}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'todo/images/icon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'todo/test.css' %}">

  </head>

  <body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'todo:index' %}">MY LIBARY</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todo:films' %}">Filmy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todo:actors' %}">Herci</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todo:chart' %}">Rebríček</a>
          </li>
          
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'todo:logout' %}">Logout</a>
            </li>
            {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'todo:login' %}">Prihlásenie</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="{% static 'todo/'%}{{ film.poster }}" alt="">
        </div>
        <div class="col-lg-6">
          <h2>{{film}} <small>( {{film.year_of_release}} )</small></h2>
          <p>
            {% for genre in film.genres.all %}
              <span>{{genre}}</span>
            {% endfor %}
          </p>
          <h5>Zem pôvodu: {{film.country}}</h5>
          <p>{{film.description}}</p>
          <h3>Herci:</h3>
            {% for actor in film.actors.all %}
              <span><a href="{% url 'todo:actor' actor.id %}">{{actor}}</a></span>
            {% endfor %}
            <form action="{% url 'todo:film' film.id %}" method = "POST" >
              {% csrf_token %}
                <div class="form-group">
                  {% include 'todo/film_form.html' %}
                  <input type="submit" class="btn btn-lg  btn-success mb-2" Value="Hlasuj" id= >
              </div>  
            </form>   
        </div>
      </div>
      <!-- /.row -->

      <!-- Team Members -->
      <h2>Ďalšie obrázky z filmu</h2>

      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="{{film.image_link1}}" alt="image1">
          </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
              <img class="card-img-top" src="{{film.image_link2}}" alt="image2">
            </div>
          </div>
          <div class="col-lg-4 mb-4">
              <div class="card h-100 text-center">
                <img class="card-img-top" src="{{film.image_link3}}" alt="image3">
              </div>
            </div>
      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>

</html>