{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Libary</title>
    <link rel="icon" type="image/x-icon" href="{% static 'todo/images/icon.ico' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'todo/test.css' %}">
    

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'todo:index' %}">MY LIBARY</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'todo:films' %}">Filmy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'todo:actors' %}">Herci</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'todo:chart' %}">Rebríček</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'todo:logout' %}">Logout</a>
            </li>
            {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'todo:login' %}">Prihlásenie</a>
              </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('{% static 'todo/images/movie.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Kino Zážitok</h3>
              <p>Nevieš čo si dneska pozrieš?</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{% static 'todo/images/movie2.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Dopraj si niečo dobré</h3>
              <p>Správny film, správne občerstvenie</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{% static 'todo/images/movie3.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Ohodnoť novinky ako prvý</h3>
              <p>Porovnávaj s ostatnými uživateľmi filmy v komentároch</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">NaŠe náhodné typy:</h1>
      
      <!-- Marketing Icons Section -->
      <div class="row">
      {% for film in film|slice:"0:3" %}
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">{{film}}</h4>
            <div class="card-body">
              <p class="card-text">{{film.description|truncatewords:40}}</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'todo:film' film.id %}" class="btn btn-primary">Pozri Film</a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        
      <!-- /.row -->

      <!-- Portfolio Section -->
      <h2>Random Actors</h2>
      <div class="row">
      {% for actor in actor|slice:"0:3" %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url 'todo:actor' actor.id %}"><img class="card-img-top" src="{{ actor.image_link }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'todo:actor' actor.id %}">{{actor}}</a>
              </h4>
              <p class="card-text">{{actor.description|truncatewords:40}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
        
      <!-- /.row -->

      
      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Ak chceš o nás zistiť viac určite zmáčkni toto tlačítko.V prípade záujmu sa nás neboj kontaktovať. Tešíme sa na teba.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="{% url 'todo:about' %}">About us</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; MyLIBARY 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>

</html>